meta(charset='UTF-8')
title i broke git :(
link(rel='stylesheet', href='css/reset.css', type='text/css')
link(rel='stylesheet', href='css/main.css', type='text/css')
link(rel='icon', href='images/favicon.png', type="image/png")
// script(src='scripts/vendor/jquery/jquery.min.js')
script(src='scripts/vendor/jquery/jquery.min.js')
script(src='scripts/vendor/angular/angular.min.js')
script(src='scripts/vendor/angular-dropdowns/angular-dropdowns.min.js')
script(src='scripts/vendor/angular-animate/angular-animate.min.js')
script(src='scripts/main.min.js')